$primary-color: #00b077;
$primary-light: #53e3a6;
$primary-dark: #007f4b;
$primary-dark-transparent: #007f4a77;
$primary-color-transparent: #00b0783b;
$primary-shadow: #00b07847;
$secondary-color: #3d4455;
$secondary-color-transparent: #3d44556b;
$secondary-light: rgb(239, 239, 255);
$secondary-dark: #252934;
$secondary-dark-transparent: #2e2d2d46;
$highlight-color: #92ffaa;
$error-color: #c5344e;
$error-info: #14854e;
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-color: #555555;
$white-dark: #dddddd;

$header-height: 30px;
